<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd" version="6.0">
  <servlet>
    <description></description>
    <display-name>TaskManagement</display-name>
    <servlet-name>TaskManagement</servlet-name>
    <servlet-class>com.task.TaskManagement</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>TaskManagement</servlet-name>
    <url-pattern>/TaskManagement</url-pattern>
  </servlet-mapping>
  <display-name>Task-management</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>TaskManagement1</display-name>
    <servlet-name>TaskManagement1</servlet-name>
    <servlet-class>com.task.TaskManagement1</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>TaskManagement1</servlet-name>
    <url-pattern>/TaskManagement1</url-pattern>
  </servlet-mapping>
</web-app>